UNICEF Water vs. GDP vs. Cholera Mortality Rate

In [3]:
#importing dependencies
import pandas as pd 
from sqlalchemy import create_engine

UNICEF Dataset - clean & convert to dataframe

In [4]:
#loading UNICEF file
csv_file = "../Project-2/drink_water.csv"
unicef_df = pd.read_csv(csv_file, encoding="ISO-8859-1")
unicef_df.head()

,Country_Code,Country,Years,Total improved,Piped on premises,Other improved,Other unimproved,Surface water
0,AFG,Afghanistan,1990.0,-,1,-,-,-
1,AFG,Afghanistan,2015.0,55,12,43,39,6
2,ALB,Albania,1990.0,-,-,-,-,-
3,ALB,Albania,2015.0,95,82,13,5,0
4,DZA,Algeria,1990.0,91,67,24,8,1

In [5]:
#only pull 2015 years
unicef2015_df = unicef_df.loc[unicef_df["Years"] == 2015.0, :]

In [6]:
#remove decimal from years
pd.options.display.float_format = '{:.0f}'.format
unicef2015_df.head()

,Country_Code,Country,Years,Total improved,Piped on premises,Other improved,Other unimproved,Surface water
1,AFG,Afghanistan,2015,55,12,43,39,6
3,ALB,Albania,2015,95,82,13,5,0
5,DZA,Algeria,2015,84,77,7,16,0
7,ASM,American Samoa,2015,100,92,8,0,0
9,AND,Andorra,2015,100,100,0,0,0

GDP Dataset - transform & convert to dataframe

In [7]:
#import GDP CSV
csv_file = "../Project-2/Country GDP by year in USD 1960 to 2015.csv"
gdp_df = pd.read_csv(csv_file, encoding="ISO-8859-1")
gdp_df.head()

,Country Name,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,ABW,nan,nan,nan,nan,nan,nan,nan,nan,...,2421474860,2623726257,2791960894,2498932961,2467703911,2584463687,nan,nan,nan,nan
1,Andorra,AND,nan,nan,nan,nan,nan,nan,nan,nan,...,3536451646,4010785102,4001349340,3649863493,3346317329,3427235709,3146177741,3249100667,nan,nan
2,Afghanistan,AFG,537777812,548888895,546666678,751111191,800000046,1006666638,1399999966,1673333419,...,7057598407,9843842455,10190529882,12486943506,15936800636,17930239400,20536542737,20046334304,20050189882,19199437989
3,Angola,AGO,nan,nan,nan,nan,nan,nan,nan,nan,...,41789478661,60448921272,84178032716,75492384801,82470913121,104116000000,115398000000,124912000000,126775000000,102643000000
4,Albania,ALB,nan,nan,nan,nan,nan,nan,nan,nan,...,8992642349,10701011897,12881352688,12044212904,11926953259,12890867539,12319784787,12781029644,13277963807,11455595709

In [16]:
#drop all columns except 2015
gdp2015_df = gdp_df[['Country Name', 'Country Code', '2015']].copy()
gdp2015_df.head()

  Country Name Country Code         2015
0        Aruba          ABW          nan
1      Andorra          AND          nan
2  Afghanistan          AFG  19199437989
3       Angola          AGO 102643000000
4      Albania          ALB  11455595709

In [17]:
#rename
gdp2015_df = gdp2015_df.rename(index=str, columns={"Country Name": "country", "Country Code": "Country_Code"})
gdp2015_df.head()

       country Country_Code         2015
0        Aruba          ABW          nan
1      Andorra          AND          nan
2  Afghanistan          AFG  19199437989
3       Angola          AGO 102643000000
4      Albania          ALB  11455595709

Merge UNICEF & GDP CSV files

In [18]:
# Merge the two DataFrames together based on the Country Code
country_df = pd.merge(unicef2015_df, gdp2015_df, on="Country_Code")

,Country_Code,Country,Years,Total improved,Piped on premises,Other improved,Other unimproved,Surface water,country,2015
0,AFG,Afghanistan,2015,55,12,43,39,6,Afghanistan,19199437989
1,ALB,Albania,2015,95,82,13,5,0,Albania,11455595709
2,DZA,Algeria,2015,84,77,7,16,0,Algeria,166839000000
3,ASM,American Samoa,2015,100,92,8,0,0,American Samoa,nan
4,AND,Andorra,2015,100,100,0,0,0,Andorra,nan

In [24]:
# delete country column; rename 2015 to be more clear
country_df = country_df.drop(columns=["country"], axis=1)
country_df = country_df.rename(index=str, columns={"2015":"2015 GDP"})
country_df

,Country_Code,Country,Years,Total improved,Piped on premises,Other improved,Other unimproved,Surface water,2015 GDP
0,AFG,Afghanistan,2015,55,12,43,39,6,19199437989
1,ALB,Albania,2015,95,82,13,5,0,11455595709
2,DZA,Algeria,2015,84,77,7,16,0,166839000000
3,ASM,American Samoa,2015,100,92,8,0,0,nan
4,AND,Andorra,2015,100,100,0,0,0,nan
5,AGO,Angola,2015,49,15,34,20,31,102643000000
6,ATG,Antigua and Barbuda,2015,98,-,-,2,-,1297285370
7,ARG,Argentina,2015,99,98,1,1,0,nan
8,ARM,Armenia,2015,100,99,1,0,0,10561401185
9,ABW,Aruba,2015,98,94,5,2,0,nan
10,AUS,Australia,2015,100,-,-,0,0,1339540000000
11,AUT,Austria,2015,100,100,0,0,0,374056000000
12,AZE,Azerbaijan,2015,87,66,21,11,2,53047140347
13,BHS,Bahamas,2015,98,95,3,2,-,8884441432
14,BHR,Bahrain,2015,100,100,0,0,0,32221489362
15,BGD,Bangladesh,2015,87,12,75,13,0,195079000000
16,BRB,Barbados,2015,100,98,2,0,-,4451000000
17,BLR,Belarus,2015,100,91,9,0,0,54608962635
18,BEL,Belgium,2015,100,100,0,0,0,454039000000
19,BLZ,Belize,2015,100,81,19,0,0,1763000000
20,BEN,Benin,2015,78,18,60,20,2,8476125181
21,BMU,Bermuda,2015,-,-,-,-,-,nan
22,BTN,Bhutan,2015,100,58,42,0,0,1962221696
23,BOL,Bolivia (Plurinational State of),2015,90,84,6,4,6,33196819572
24,BIH,Bosnia and Herzegovina,2015,100,87,13,0,0,15995392118
25,BWA,Botswana,2015,96,74,22,2,2,14390863395
26,BRA,Brazil,2015,98,94,4,2,0,1774720000000
27,VGB,British Virgin Islands,2015,-,-,-,-,-,nan
28,BRN,Brunei Darussalam,2015,-,-,-,-,-,15492035784
29,BGR,Bulgaria,2015,99,99,0,1,0,48952959080
...,...,...,...,...,...,...,...,...,...
176,CHE,Switzerland,2015,100,100,0,0,0,664738000000
177,SYR,Syrian Arab Republic,2015,90,87,3,10,0,nan
178,TJK,Tajikistan,2015,74,45,29,5,21,7853450374
179,THA,Thailand,2015,98,57,41,2,0,395282000000
180,MKD,TFYR Macedonia,2015,99,92,7,1,0,10086021261
181,TLS,Timor-Leste,2015,72,25,47,20,8,1412377919
182,TGO,Togo,2015,63,5,58,20,17,4002723817
183,TON,Tonga,2015,100,78,22,0,0,nan
184,TTO,Trinidad and Tobago,2015,95,84,12,5,0,27805745961
185,TUN,Tunisia,2015,98,82,16,2,0,43015089723
186,TUR,Turkey,2015,100,100,0,0,0,718221000000
187,TKM,Turkmenistan,2015,-,-,-,-,-,37334232257
188,TCA,Turks and Caicos Islands,2015,-,-,-,-,-,nan
189,TUV,Tuvalu,2015,98,97,1,2,-,nan
190,UGA,Uganda,2015,79,5,74,13,8,26369242278
191,UKR,Ukraine,2015,96,69,27,4,0,90615023324
192,ARE,United Arab Emirates,2015,100,-,-,0,0,370293000000
193,GBR,United Kingdom,2015,100,100,0,0,0,2848760000000
194,TZA,United Republic of Tanzania,2015,56,13,43,30,14,44895392077
195,USA,United States of America,2015,99,99,0,1,-,17947000000000
196,VIR,United States Virgin Islands,2015,100,49,51,0,0,nan
197,URY,Uruguay,2015,100,99,1,0,0,53442697568
198,UZB,Uzbekistan,2015,-,-,-,-,-,66732801393
199,VUT,Vanuatu,2015,94,35,59,1,5,nan
200,VEN,Venezuela (Bolivarian Republic of),2015,93,86,7,6,1,nan
201,VNM,Viet Nam,2015,98,27,71,1,1,193599000000
202,PSE,Occupied Palestinian Territory,2015,58,56,2,41,1,12677400000
203,YEM,Yemen,2015,-,-,-,-,-,nan
204,ZMB,Zambia,2015,65,16,49,23,12,21201564248
205,ZWE,Zimbabwe,2015,77,28,49,17,6,13892940504

importing json

In [ ]:
import json
import os

In [ ]:
json_file = "../Project-2/cholera_data.json"

os.chdir("../Project-2/cholera_data.json")

# Reading the json as a dict
with open('cholera_data.json') as json_data:
    data = json.load(json_data)

In [ ]:
df = pd.read_json("cholera_data.json")